[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/MikeWangWZHL/LLaVA_clip_merging.git
[submodule "VLMEvalKit"]
	path = VLMEvalKit
	url = https://github.com/MikeWangWZHL/VLMEvalKit.git
[submodule "LLaMA-Factory"]
	path = LLaMA-Factory
	url = https://github.com/MikeWangWZHL/LLaMA-Factory-tome.git
